$color-green-1: #0D6F2C;
$color-green-2: #1B8712;
$color-green-3: #434F2F;
$color-green-4: #6E834D;
$color-green-5: #C6CFB8;
$color-green-6: #F9FAF9;

$color-gray-1: #333333;
$color-gray-2: #666666;
$color-gray-3: #979797;
$color-gray-4: #DDDDDD;

$color-red-1: #DD1122;
$color-red-2: #BE0000;

$color-white-1: #ffffff;
$color-black-1: #000000;

$color-blue-1: #086ADB;
$color-blue-2: #0048CF;

$color-orange-1: #e5703d;
$color-orange-2: #dd4e1e;

$color-purple-1: #774D82;
$color-purple-2: #2F1536;

$color-yellow-1: #FFE81F;
$color-yellow-2: #FFB712;
