@import './src/shared/utils/colors/css/colors';
@import './src/shared/utils/spacing/css/spacing';

.m-icons-table {
  &__icon {
    width: 30px;
    height: 30px;
    padding: 8px;
    background-color: $color-green-luke-saber ;
  }

  &__title {
    @include spacing-v('m', 'fix');
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
}
