@import '../../../../../src/shared/utils/colors/css/colors';
@import '../../../../../src/shared/utils/visually-hidden/css/visually-hidden';

@mixin radioGenerator($size) {
  /* stylelint-disable */
  &__input {
    @include visually-hidden();

    &:checked + .a-radio__label::after {
      content: '';
      position: absolute;
      top: $size/ 8;
      left: $size/ 8;
      width: $size - 8px;
      height: $size - 8px;
      margin: $size/ 8;
      border: 2px solid currentColor;
      background-color: currentColor;
      border-radius: 50%;
    }

    &:checked + .a-radio__label::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $size;
      height: $size;
      border: 2px solid currentColor;
    }

    &:disabled + .a-radio__label::before,
    &:disabled + .a-radio__label::after,
    &:disabled + .a-radio__label {
      cursor: not-allowed;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: $size;
    margin-bottom: 0;
    padding-left: $size + 12px;
    text-transform: none;
    white-space: normal;
    cursor: pointer;

    &::before {
      content: '';
      width: $size;
      height: $size;
      border: 2px solid currentColor;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  /* stylelint-enable */
}
