$color-green-5: #1B8712;
$color-green-4: #434F2F;
$color-green-3: #6E834D;
$color-green-2: #C6CFB8;
$color-green-1: #F4F5F3;

$color-gray-1: #141414;
$color-gray-2: #222222;
$color-gray-3: #2e2e2e;
$color-gray-4: #575757;
$color-gray-5: #a39393;
$color-gray-6: #929292;
$color-gray-7: #a3a3a3;
$color-gray-8: #b1b9be;
$color-gray-9: #dbe4e8;
$color-gray-10: #e6e6e6;
$color-gray-11: #ced5d9;
$color-gray-12: #eeeeee;

$color-red-1: #DD1122;

$color-white-1: #ffffff;
