@import './variables/colors.scss';

$color-green-yoda: $color-green-1;
$color-green-baby-yoda: $color-green-2;
$color-green-jarjarbinks: $color-green-3;
$color-green-jabba: $color-green-4;
$color-green-luke-saber: $color-green-5;
$color-green-eco: $color-green-6;

$color-black-vader: $color-black-1;
$color-gray-rat: $color-gray-1;
$color-gray-matter: $color-gray-2;
$color-gray-anatomy: $color-gray-3;
$color-gray-anatomy: $color-gray-4;
$color-white-stormtrooper: $color-white-1;

$color-red-vader-saber: $color-red-1;
$color-red-darth-maul: $color-red-2;

$color-blue-anakin-saber : $color-blue-1;
$color-blue-r2d2-lines : $color-blue-2;

$color-orange-rebellion: $color-orange-1;
$color-orange-rebellion-dark: $color-orange-2;

$color-purple-windu-light-saber: $color-purple-1;
$color-purple-windu-saber: $color-purple-2;
