@import './variables/colors.scss';

$color-green-light-saber: $color-green-4;
$color-green-yoda: $color-green-1;
$color-green-baby-yoda: $color-green-2;
$color-green-jarjarbinks: $color-green-3;
$color-green-light-aura: $color-green-5;

$color-stormtrooper-white: $color-white-1;
$color-white-russian-white: $color-gray-10;

$color-gray-rat: $color-gray-10;
$color-gray-matter: rgba($color-gray-4, 0.5);
$color-gray-anatomy: $color-gray-4;

$color-hairline-extra-light: $color-gray-12;
$color-hairline-light: $color-gray-9;
$color-hairline: $color-gray-8;
$color-hairline-dark: #000000;

$color-red-vader-weapon: $color-red-1;
$color-black-vader: $color-gray-1;
