@import '../../../../../src/shared/utils/colors/css/colors';
@import '../../../../../src/shared/utils/typo/css/typo';
@import '../../../../../src/shared/utils/placeholder/css/placeholder';
@import '../../../../../src/shared/utils/animations/css/animations';
@import '../../../../../src/shared/utils/input/css/input';

.a-input {
  @include typo('body-1');
  width: 100%;
  padding: 4px 8px 3px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  transition: all $animate-medium ease;

  &:disabled {
    cursor: not-allowed;
    color: inherit;
  }

  &.state-a-input--filled-in {
    border-color: currentColor;
  }

  // styles files populated by the browser auto complete
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $color-green-jabba inset;
  }

  @include inputColorGenerator($color-gray-rat)
}

@import './modifier/text-small';
