
.m-group-checkbox--horizontal {
  .m-group-checkbox {
    &__items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }

    &__item {
      border-bottom: none;
      padding: 0;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }
}
