@import '../../../../../src/shared/utils/colors/css/colors';
@import '../../../../../src/shared/utils/typo/css/typo';
@import '../../../../../src/shared/utils/animations/css/animations';

.m-group-textarea {
  &__input {
    position: relative;

    .a-icon {
      position: absolute;
      right: 5px;
      bottom: 15px
    }
  }

  &__label {
    @include typo('body-3');
    opacity: 0;
    transition: opacity $animate-fast ease;
  }

  &__bottom {
    @include typo('body-4');
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
  }

  &__message {
    transition: opacity $animate-fast ease;
    &--error {
      opacity: 0;
    }

    &--alert {
      color: $color-orange-rebellion
    }
  }

  &__progress-bar {}

  &.state-m-group-textarea-filled-in {
    .m-group-textarea__label {
      opacity: 1;
    }
  }

  &.state-m-group-textarea--error {
    .m-group-textarea__message--error,
    .m-group-textarea__label {
      color: $color-red-vader-saber;
      opacity: 1;
    }
  }
}
