@import '../../../../../shared/utils/colors/css/colors';

.a-icon--danger {
  color: $color-red-vader-saber
}

.a-icon--success {
  color: $color-green-yoda;
}

.a-icon--warning {
  color: $color-orange-1;
}

.a-icon--weird {
  color: $color-green-luke-saber;
}
