// Typo definitions for all breakpoints
$typography-definitions: (
  xs: (
    title: (
      'font-size': 24px,
      'line-height': 32px,
      'font-weight': 500,
      'letter-spacing': 5%,
    ),

    title-1: (
      'font-size': 20px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 1%,
    ),

    title-2: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    title-3: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-1: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body-2: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-3: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),

    body-4: (
      'font-size': 12px,
      'line-height': 16px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),
  ),
  sm: (
    title: (
      'font-size': 24px,
      'line-height': 32px,
      'font-weight': 500,
      'letter-spacing': 5%,
    ),

    title-1: (
      'font-size': 20px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 1%,
    ),

    title-2: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    title-3: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-1: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body-2: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-3: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),

    body-4: (
      'font-size': 12px,
      'line-height': 16px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),
  ),
  md: (
    title: (
      'font-size': 24px,
      'line-height': 32px,
      'font-weight': 500,
      'letter-spacing': 5%,
    ),

    title-1: (
      'font-size': 20px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 1%,
    ),

    title-2: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    title-3: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-1: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body-2: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-3: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),

    body-4: (
      'font-size': 12px,
      'line-height': 16px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),
  ),
  lg: (
    title: (
      'font-size': 24px,
      'line-height': 32px,
      'font-weight': 500,
      'letter-spacing': 5%,
    ),

    title-1: (
      'font-size': 20px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 1%,
    ),

    title-2: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    title-3: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-1: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body-2: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-3: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),

    body-4: (
      'font-size': 12px,
      'line-height': 16px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),
  ),
  xl: (
    title: (
      'font-size': 24px,
      'line-height': 32px,
      'font-weight': 500,
      'letter-spacing': 5%,
    ),

    title-1: (
      'font-size': 20px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 1%,
    ),

    title-2: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    title-3: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-1: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body-2: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-3: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),

    body-4: (
      'font-size': 12px,
      'line-height': 16px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),
  ),
  ul: (
    title: (
      'font-size': 24px,
      'line-height': 32px,
      'font-weight': 500,
      'letter-spacing': 5%,
    ),

    title-1: (
      'font-size': 20px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 1%,
    ),

    title-2: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    title-3: (
      'font-size': 18px,
      'line-height': 24px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-1: (
      'font-size': 16px,
      'line-height': 20px,
      'font-weight': 500,
      'letter-spacing': 0%,
    ),

    body-2: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 600,
      'letter-spacing': 0%,
    ),

    body-3: (
      'font-size': 14px,
      'line-height': 18px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),

    body-4: (
      'font-size': 12px,
      'line-height': 16px,
      'font-weight': 500,
      'letter-spacing': 0%
    ),
  ),
);
