@import '../../../../../src/shared/utils/colors/css/colors';
@import '../../../../../src/shared/utils/typo/css/typo';
@import '../../../../../src/shared/utils/spacing/css/spacing';
@import '../../../../../src/shared/utils/animations/css/animations';

.a-progress-bar {
  color: $color-black-vader;
  &__scale {
    width: 100%;
    display: flex;;
  }

  &__tile {
    height: 4px;
    transition: background-color ease $animate-x-fast;

    &--1 {
      background-color: lighten($color-black-vader, 85%);
    }

    &--2 {
      background-color: lighten($color-black-vader, 75%);
    }

    &--3 {
      background-color: lighten($color-black-vader, 65%);
    }

    &--4 {
      background-color: lighten($color-black-vader, 55%);
    }

    &--5 {
      background-color: lighten($color-black-vader, 45%);
    }

    &--6 {
      background-color: lighten($color-black-vader, 35%);
    }

    &--7 {
      background-color: lighten($color-black-vader, 25%);
    }

    &--8 {
      background-color: lighten($color-black-vader, 10%);
    }

    &--9 {
      background-color: lighten($color-black-vader, 0%);
    }
  }

  &__progress {
    height: 1px;
    background-color: currentColor;
    transition: background-color ease $animate-x-fast;
  }

  &.state-a-progress-bar {

    &--good {
      color: $color-gray-rat;
    }

    &--great {
      color: $color-green-baby-yoda;

      .a-progress-bar__tile {
        &--1 {
          background-color: lighten($color-green-baby-yoda, 40%);
        }

        &--2 {
          background-color: lighten($color-green-baby-yoda, 35%);
        }

        &--3 {
          background-color: lighten($color-green-baby-yoda, 30%);
        }

        &--4 {
          background-color: lighten($color-green-baby-yoda, 25%);
        }

        &--5 {
          background-color: lighten($color-green-baby-yoda, 20%);
        }

        &--6 {
          background-color: lighten($color-green-baby-yoda, 15%);
        }

        &--7 {
          background-color: lighten($color-green-baby-yoda, 10%);
        }

        &--8 {
          background-color: lighten($color-green-baby-yoda, 5%);
        }

        &--9 {
          background-color: lighten($color-green-baby-yoda, 0%);
        }
      }
    }

    &--alert {
      color: $color-orange-rebellion;

      .a-progress-bar__tile {
        &--1 {
          background-color: lighten($color-orange-rebellion, 40%);
        }

        &--2 {
          background-color: lighten($color-orange-rebellion, 35%);
        }

        &--3 {
          background-color: lighten($color-orange-rebellion, 30%);
        }

        &--4 {
          background-color: lighten($color-orange-rebellion, 25%);
        }

        &--5 {
          background-color: lighten($color-orange-rebellion, 20%);
        }

        &--6 {
          background-color: lighten($color-orange-rebellion, 15%);
        }

        &--7 {
          background-color: lighten($color-orange-rebellion, 10%);
        }

        &--8 {
          background-color: lighten($color-orange-rebellion, 5%);
        }

        &--9 {
          background-color: lighten($color-orange-rebellion, 0%);
        }
      }
    }

    &--danger {
      color: $color-red-vader-saber;

      .a-progress-bar__tile {
        &--1 {
          background-color: lighten($color-red-vader-saber, 40%);
        }
        &--2 {
          background-color: lighten($color-red-vader-saber, 35%);
        }
        &--3 {
          background-color: lighten($color-red-vader-saber, 30%);
        }
        &--4 {
          background-color: lighten($color-red-vader-saber, 25%);
        }
        &--5 {
          background-color: lighten($color-red-vader-saber, 20%);
        }
        &--6 {
          background-color: lighten($color-red-vader-saber, 15%);
        }
        &--7 {
          background-color: lighten($color-red-vader-saber, 10%);
        }
        &--8 {
          background-color: lighten($color-red-vader-saber, 5%);
        }
        &--9 {
          background-color: lighten($color-red-vader-saber, 0%);
        }
      }
    }
  }
}
