@use "sass:math";
@import '../../../../../src/shared/utils/colors/css/colors';
@import '../../../../../src/shared/utils/visually-hidden/css/visually-hidden';

@mixin checkboxGenerator($size) {
  /* stylelint-disable */
  &__input {
    @include visually-hidden();

    &:checked + .a-checkbox__label::after {
      content: '';
      position: absolute;
      top: math.div($size, 8);
      left: math.div($size, 8);
      width: $size - 8px;
      height: $size - 8px;
      margin: math.div($size, 8);
      border: 2px solid currentColor;
      background-color: currentColor;
    }

    + .a-checkbox__label::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: $size;
      height: $size;
      border: 2px solid currentColor;
      background-color: $color-white-stormtrooper;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: $size;
    margin-bottom: 0;
    padding-left: $size + 8px;
    text-transform: none;
    white-space: normal;
    cursor: pointer;
  }
  /* stylelint-enable */
}
