@import '../../../../../../src/shared/utils/breakpoints/css/breakpoints';

.m-group-buttons--fixed-size {
  .m-group-buttons {
    &__button {
      min-width: 0;
      margin-bottom: 0;

      @media($bp-ul) {
        min-width: 90px;
      }
    }
  }
}
